__pycache__/
*.pyc

.venv/
venv/
.env
.env.*
!.env.example

.vscode/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
.next/
node_modules/

*.db
*.sqlite

.ruff_cache/
*.log
*.zip
*.Zone.Identifier